// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.red{
  color: red;
}
.center{
  text-align: center;
}
span.price{
  font-size: 1.1em;
  text-decoration: underline;
  font-weight: 400;
}
.fruits{
	color: green;
}
.vegetables{
	color: brown;
}
.form-text-area{
	width: 500px;
	height: 250px;
}
ul.products-list {
  list-style-type: none;
  li{
//    width: 350px;
    float: left;
    margin: 5px 10px;
    border: 1px solid #f4f4f4;
    padding: 5px;
    border-radius: 5px;
    width: 20%;
    box-shadow: 1px 1px 5px rgba(50,50,50,0.1);
    min-width: 190px;
  img{
    width: 100%;
  }}
}